annotated-types
anyio
argcomplete
asgiref
attrs
baseconvert
beautifulsoup4
certifi
cffi
charset-normalizer
click
cryptography
dj-database-url
Django
django-appconf
django-cors-headers
django-cryptography
djangorestframework
djangorestframework_simplejwt
google-auth
google-genai
h11
html2text
httpcore
httpx
humanize
idna
joblib
jsonschema
jsonschema-specifications
lxml
numpy
olefile
packaging
pillow
productmd
psutil
psycopg2-binary
pydantic
pydantic_core
PyJWT
pyotp
python-dateutil
python-dotenv
PyYAML
qrcode
RapidFuzz
regex
requests
scikit-learn
scipy
six
sniffio
sqlparse
tenacity
threadpoolctl
typing-inspection
typing_extensions
urllib3
websockets