annotated-types==0.7.0
anyio==4.13.0
argcomplete==3.6.3
asgiref==3.11.1
attrs==25.4.0
baseconvert==2.0.4
beautifulsoup4==4.14.3
blivet @ file:///builddir/build/BUILD/python-blivet-3.13.2-build/blivet-3.13.2
Brlapi==0.8.7
certifi==2026.5.20
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
cockpit @ file:///builddir/build/BUILD/cockpit-362-build/cockpit-362/tmp/wheel/cockpit-362-py3-none-any.whl#sha256=a58100d7b054f1045e44ec3dd522c668a810e37d4f519988ec469b87a17d1e7c
crypt_r==3.13.1
cryptography==48.0.0
cupshelpers==1.0
dasbus==1.7
dbus-python==1.4.0
dbus_next==0.2.3
distro==1.9.0
dj-database-url==3.1.2
Django==4.2.16
django-appconf==1.2.0
django-cors-headers==4.9.0
django-cryptography==1.1
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
dnf==4.24.0
fedora-third-party==0.10
file-magic==0.4.0
google-auth==2.53.0
google-genai==2.7.0
gunicorn==26.0.0
h11==0.16.0
html2text==2025.4.15
httpcore==1.0.9
httpx==0.28.1
humanize==4.15.0
idna==3.17
iso639==0.1.4
joblib==1.5.3
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
langtable==0.0.70
libcomps==0.1.24
libdnf==0.75.0
libdnf5==5.4.2.1
louis==3.33.0
lxml==6.1.1
nftables==0.1
numpy==2.4.6
olefile==0.47
packaging==25.0
perf==0.1
pexpect==4.9.0
pid==3.0.4
pillow==12.2.0
ply==3.11
productmd==1.50
psutil==7.2.2
psycopg2-binary==2.9.12
ptyprocess==0.7.0
pwquality==1.4.5
pyasn1==0.6.3
pyasn1_modules==0.4.2
PyAudio==0.2.13
pycairo==1.28.0
pycparser==3.0
pycups==2.0.4
pydantic==2.13.4
pydantic_core==2.46.4
pyenchant==3.3.0
PyGObject==3.56.3
pyinotify==0.9.6
PyJWT==2.13.0
pykickstart @ file:///builddir/build/BUILD/pykickstart-3.69-build/pykickstart-3.69
pyotp==2.9.0
pyparted==3.13.0
PySocks==1.7.1
python-augeas==1.2.0
python-bugzilla==3.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-linux-procfs==0.7.4
python-meh==0.52
python-pam==2.0.2
pyudev==0.24.4
pyxdg==0.28
PyYAML==6.0.3
qrcode==8.2
RapidFuzz==3.14.3
referencing==0.36.2
regex==2026.2.28
requests==2.34.2
requests-file==3.0.0
requests-ftp==0.3.1
rpds-py==0.29.0
rpm==6.0.1
scikit-learn==1.8.0
scipy==1.17.1
selinux @ file:///builddir/build/BUILD/libselinux-3.10-build/libselinux-3.10/src
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.10-build/selinux-3.10/python/sepolicy
setools==4.6.0
setuptools==80.10.2
simpleline==1.9.0
six==1.17.0
sniffio==1.3.1
sos==4.11.1
soupsieve==2.8.3
sqlparse==0.5.5
systemd-python==235
tenacity==9.1.4
threadpoolctl==3.6.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.7.0
websockets==16.0
xkbregistry==0.3
